[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/oe-meta-go"]
	path = layers/oe-meta-go
	url = https://github.com/mem/oe-meta-go.git
[submodule "layers/meta-resin"]
	path = layers/meta-resin
	url = https://gitlab.ii.org.nz/iichip/meta-resin.git
	branch = resinOS
